* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

aside, footer, figure, header,
section, img, object, embed {
	display: block;
}

img, object, embed {
	max-width: 100%;
}

body {
	font: 200 16pt/18pt 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
	/*font: 200 16pt/18pt 'Helvetica Neue', sans-serif;*/
	font-style: normal;
	font-weight: 200;
	background: #fffffe;
	color: #131313;
}

a {
	color: red;
	text-decoration: none;
}


h1 {
	font-weight: inherit;
}
.major-section > h1 {
	margin-bottom: 1em;
	font-family: 'Knockout 54 A', 'Knockout 54 B', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: .5em;
	letter-spacing: .2em;
	text-transform: lowercase;
}

p {
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5;
}

.hidden {
	display: none;
}

.column {
	float: left;
}

.width-1of2 {
	width: 50%;
}

.fit {
	width: 100%;
}

.canvas {
	position: relative;
	width: 75%;
	padding: 10% 0 0;
	margin: auto;
	z-index: 2;
}

.section, .major-section {
	overflow: hidden;
	margin-bottom: 2em;
}
.section img, .major-section img {
	margin-bottom: 1em;
}
.major-section > article {
	border-left: .25em solid #eee;
	padding: .5em 0 .25em 1em;
}
article h1 {
	margin-bottom: 0.5em;
}
time {
	color: #999;
}

hr {
	position: relative;
	top: -1em;
	width: 5%;
	margin: auto;
	border-top: 1px solid #666;
}

#signature {
	float: right;
	width: 160px;
}

@media screen and (max-width: 480px) {
	body {
		padding-top: 1em;
		font-size: 12pt;
	}
	p {
		padding: 1em;
		padding-top: 0;
	}
	h1 {
		padding-left: 1em;
	}
	.canvas {
		width: 100%;
		padding: 0;
	}
	#signature {
		margin-top: 20px;
		width: 100px;
	}
}
@media screen and (min-width: 481px) {
	.project-thumbnail {
		overflow: hidden;
		float: left;
		width: 50%;
		margin-bottom: 1.5em;
	}
	.project-thumbnail:nth-of-type(2n) {
		padding-left: 2.5%;
	}
	.project-thumbnail:nth-of-type(2n-1) {
		clear: both;
		padding-right: 2.5%;
	}
	.project-thumbnail p {
		font-size: 0.8em;
	}
}
@media screen and (min-width: 1200px) {
	body {
		font-size: 24pt;
	}
}
