<footer class="section">
	<p class="lead">Designer, developer &amp; entrepreneur based in New York City. Currently working at <a href="http://catchafire.org/" target="_blank">Catchafire</a> where we connect nonprofits and professionals. I'm on <a href="http://twitter.com/rnmp" target="_blank">Twitter</a>, <a href="http://dribbble.com/rnmp" target="_blank">Dribbble</a>, <a href="http://github.com/rnmp" target="_blank">Github</a>, <a href="http://500px.com/rnmp" target="_blank">500px</a> and I reply to all messages in my inbox, so feel free to drop me an email to <a href="mailto:rolando@bandd.co">rolando@bandd.co</a>.</p>
	<img src="img/signature.png" id="signature" alt="">
</footer>
